name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: bingtsingw/composite-actions/pnpm-install@v2
      - run: |
          pnpm run check-publish
          pnpm run format
          pnpm run check-mono
          pnpm run lint:js
          pnpm run check-type
          pnpm run test
